:root{
   --main-color: #00c7fc; 
   --second-color: #636364;
   --transition: 0.3s;
   --transparent-color: rgb(15 116 143 / 70%);
   --section-padding: 100px;
   --loop-color: rgb(0 0 0 / 60%);
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     padding: 0;
     margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 97px;
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
.header-content{
    text-align: center;
    margin-top: 100px;
}
.header-content h2{
  position: relative;
    margin-bottom: 40px;
}
.header-content h2::after{
    content: "";
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    bottom: -25px;
    width: 120px;
}
.header-content h2::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    z-index: 3;
    border: #000000 1px solid;
}
.header-content p{
    width: 550px;
    margin: 55px auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
body{
    background-color: rgb(255, 255, 255);
    
}
ul{
    list-style: none;
}
header{
position: absolute;
left: 0;
width: 100%;
z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    bottom: -1px;
    background-color: var(--second-color);
}
nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav .toggle-menu{
    color: white;
    font-size: 22px;
}
@media (min-width: 768px){
    nav .toggle-menu{
        display: none;
    }
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px){
    nav ul{
     display: none;
    }
    header nav .toggle-menu:hover + ul{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0 0 0 / 50%);
    }
    header nav ul li a {
        padding: 15px !important;
      }
}
header nav ul li a{
    padding: 40px 10px;
    display: block;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: var(--transition);
    position: relative;
    z-index: 3;
    }
header nav ul li a.active,
header nav ul li a:hover{
    color: var(--main-color);
    border-bottom: solid 1px var(--main-color);
}
header nav .search{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header nav .search i{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.landing{
    background-image: url(/image/landing.jpg);
    min-height: 100vh;
    position: relative;
    background-size: cover;
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.landing .content{
    position: absolute;
    background-color: var(--transparent-color);
    height: 300px;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: white;
}
@media(max-width: 767px){
    .landing .content{
width: 100%;
    }
}
.content .text{
max-width: 500px;
}
@media(max-width: 767px){
    .content .text{
max-width: 100%;
    }
}
.content .text h2{
 font-size: 32px;
 font-weight: normal;
 line-height: 1.5;
 margin-bottom: 20px;
 text-align: center;

}
.content .text p{
    line-height: 1.5;
}
@media(max-width: 767px){
    .landing .content .text p{
        display: none;
    }
}
.arow{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.arow i{
color: white;
}
@media(max-width: 767px){
      .arow{
        display: none;
      }
}
.circles{
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
    padding: 15px;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.srv-box{
    display: flex;
    
}
.srv-box i{
    font-weight: 900;
    margin-right: 50px;
}
.srv-box h3{
    margin-bottom: 30px;
    color: var(--main-color);
    font-weight: bold;
}
.srv-box p{
    line-height: 2;
    color: #777;
}
@media(max-width: 767px){
    .srv-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .srv-box i{
        margin: 0 0 30px;
        
    }
}
.design{
  background-image: url(/image/design-features.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 550px;
  left: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-top: var(--section-padding);
  
}
.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
  }
  .design .image,
  .design .text {
    position: relative;
    z-index: 2;
    flex: 1;
  }
  .design .image {
    text-align: center;
  }
  @media (max-width: 767px) {
    .design .image {
      display: none;
    }
  }
  .design .image img {
    position: relative;
    bottom: -150px;
  }
  .design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
  }
  .design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .design .text ul li {
    padding: 15px 0;
  }
  .design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
  }
  .Portfolio{
    padding-top: 40px;
    padding-bottom: var(--section-padding);
  }
  .choices{
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    padding-bottom: var(--section-padding);
  }
  .choices ul{
    padding: 10px 10px;
  }
   .choices .active{
    background-color: var(--main-color);
   } 
   .proto-img{
    display: flex;
    flex-wrap: wrap;

   }
   .proto-img .box {
    overflow: hidden;
    position: relative;
   }
   .proto-img .box:hover .caption{
     bottom: 0;
   }
   .proto-img .box:hover img{
     transform: rotate(3deg) scale(1.1);
   }
   @media(min-width: 768px){
    .proto-img .box{
        flex-basis: 50%;
    }
   }
   @media(min-width: 1199px){
    .proto-img .box{
        flex-basis: 25%;
    }
   }
   .proto-img .box img{
    width: 100%;
    transition: 0.3s;
   }
   .proto-img .box .caption{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
   }
   .box .caption h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .box .caption p {
    color: var(--main-color);
  }
  .Portfolio .more{
    background-color: var(--main-color);
    color: white;
    display: block;
    width: fit-content;
    padding: 15px 20px;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
  }
  .video{
    position: relative;
  }
  .video video{
    width: 100%;
  }
  .video::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--loop-color);
  }
  .video .content{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    padding: 80px;
  }
  .video .content h2{
    padding-bottom: 30px;
    color: white;
    font-weight: normal;
  }
  .video .content p{
    padding-bottom: 20px;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
  .video .content a{
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--transition);
  }
  .About{
    padding-top: 40px;
    overflow: hidden;
    text-align: center;
  }
  .About img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
  }
  @media (max-width: 767px){
    .About img{
        position: relative;
        bottom: -70px;
        margin-top: -70px;
        
      }
  }
  .stats{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(/image/stats.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
  }
  .stats::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
  }
  .stats .container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }
  .stats .container .box{
     color: white;
     padding: 50px;
     background-color: var(--transparent-color);
  }
  @media(max-width: 767px){
    .stats .container .box{
        flex-basis: 100%;
    }
  }
  @media(min-width: 767px){
    .stats .container .box{
        flex-basis: 50%;
    }
  }
  @media(min-width: 992px){
    .stats .container .box{
        flex-basis: 25%;
    }
  }
  .stats .container .box i{
    width: 40px;
    height: 40px;
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  .stats .container .box .number{
    font-weight: bolder;
    font-size: 50px;
  }
  .stats .container .box p{
    padding-top: 20px ;
  }
  .our-skills{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  .our-skills .container{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
  }
  @media(min-width: 992px){
    .our-skills .container > div{
       flex-basis: 45%;
    }
  }
  .our-skills .container > div > h3{
   margin: 0 0 30px;
   font-weight: normal;
   text-transform: uppercase;
   text-align: center;
  }
  .our-skills .container > div > p{
    color: #636364;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
  }
  .our-skills .testimonials .content{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .our-skills .testimonials .content img{
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
  }
  @media(max-width: 767px){
    .our-skills .testimonials .content{
      flex-direction: column;
      text-align: center;
    }
    .our-skills .testimonials .content img{
      margin: 0 auto 20px;
    }
  }
  .our-skills .testimonials .content .text{
    line-height: 1.8;
    border-bottom: solid 1px #ccc;
  }
  .our-skills .testimonials .content p{
    color: #777;
    text-align: right;
  }

.our-skills .skills .prog-holder{
  display: grid;
  margin-bottom: 15px;
}
.our-skills .skills .prog-holder h4{
  margin: 15px 0;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog{
  background-color: #dbdbdb;
  height: 30px;
} 
.our-skills .skills .prog-holder .prog span{
  height: 100%;
  background-color: var(--main-color);
  display: block;
  position: relative;
}
.our-skills .skills .prog-holder .prog span::before{
  content: attr(data-progress);
  background-color: #000000;
  position: absolute;
  width: 40px;
  top: -40px;
  right: -18px;
  color: white; 
  padding: 5px 0;
  text-align: center;
  border-radius: 6px;

}
.our-skills .skills .prog-holder .prog span::after{
  content: "";
  position: absolute;
  right: -8px;
  top: -15px;
  border:  solid 10px ;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
 
}
 .quote{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(/image/quote.jpg);
  background-size: cover;
  position: relative;
 }
 .quote::before{
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--loop-color);
 }
 .quote .text{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%);
  color: white;
  text-align: center;
 }
 .quote .text h3{
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 15px;
  display: block;
 }
 .quote .text P{
  font-size: 13px;
 }
 .pricing{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
 } 
 .pricing .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
 }
 .pricing .container .our-prices{
  margin: 30px ;
  background-color: #FCFCFC;
  text-align: center;
  flex: 1;
 }
 .pricing .container .our-prices .price{
  position: relative;
  padding: 35px 0;
  border-bottom: solid 1px var(--main-color);
  border-top: solid 1px var(--main-color);
 }
 .pricing .container .our-prices .price h3{
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 20px;
 }
 .pricing .container .our-prices .price span{
  font-weight: bold;
  font-size: 70px;
 }
 .pricing .container .our-prices .price span::before{
  content: "/mo";
  position: absolute;
  bottom: 50px;
  font-size: 15px;
  right: 22px;
  text-transform: uppercase;
 }
 .pricing .container .our-prices .price span::after{
  content: "$";
  position: absolute;
  font-size: 20px;
  font-weight: normal;
 }
 .pricing .container .our-prices .feature{
  margin: 30px 0;
  border-bottom: 1px solid var(--main-color);
 }
 .pricing .container .our-prices .feature ul{
  padding-bottom: 20px ;
 }
 .pricing .container .our-prices .feature ul li{
  padding: 10px 0;
  margin:0 auto 30px;
  border-bottom: solid 1px var(--main-color);
  width: 70%;
 }
 .our-prices .buy-now{
   height: 50px;
   width: 200px;
   margin: 10px auto 30px;
 }
 .our-prices .buy-now a{
  text-decoration: none;
  display: block;
  border: solid 1px var(--main-color);
  width: 150px;
  padding: 20px;
  margin: 10px auto 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
 }
 .our-prices .buy-now a:hover{
  background-color: var(--main-color);
  transition: 0.5s;
  color: white;
 }
 @media(max-width: 767px){
  .pricing .container .our-prices{
    flex: 1;
  }
 }
 .contact-request{
  text-align: center;
  margin-top: 20px;
 }
 .contact-request h3{
  font-weight: normal;
  margin-bottom: 40px;
 }
 .contact-request a{
  text-decoration: none;
  background-color: var(--main-color);
  padding: 15px 30px;
  text-transform: uppercase;
  color: white;
 }
 .subscribe{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(/image/subscribe.jpg);
  position: relative;
  background-size: cover;
  color: white;

 }
 .subscribe::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
 }
 .subscribe .container{
  display: flex;
  align-items: center;
  position: relative;
  
 }
 @MEDIA(MAX-WIDTH:991px){
  .subscribe .container{
flex-direction: column;
  }
 }
 .subscribe form{
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
 }
 .subscribe form i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
   left: 20px;
 }
 .subscribe form input[type="email"]{ 
  border: 1px white solid;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px );
  color: white;
 }
 .subscribe form ::placeholder{
  color: white;
 }
 .subscribe form input[type="submit"]{ 
  width: 130px;
  background-color: var(--main-color);
  border: 1px white solid;
  border-left: none;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
 }
 .subscribe form input[type="email"]:focus,
 .subscribe form input[type="submit"]:focus{
outline: none;
 }
 .subscribe p{
line-height: 1.8;
margin-left: 40px;
 }
 @MEDIA(MAX-WIDTH:991px){
  .subscribe p{
   margin: 30px 0 0;
  }
 }
 .c-content{
  display: flex;
  justify-content: space-between;
 }
 @media (max-width: 767px) {
  .contact .c-content {
    flex-direction: column;
  }
}
.c-content form{
  flex-basis: 70%;
}
.c-content form .main-input{
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.c-content form .main-input:focus{
  outline: none;
}
.c-content form textarea.main-input {
  height: 200px;
}
.contact .c-content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  margin-bottom: 50px;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .c-content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .c-content .info {
    order: -1;
    text-align: center;
  }
}
.contact .c-content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .c-content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .c-content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .c-content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .c-content .info address {
    margin-bottom: 40px;
  }
}
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url("/image/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
}
.footer img {
  margin-bottom: 20px;
}
.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
.footer .social-icons i {
  padding: 10px 15px;
}
.footer .copyright {
  margin-top: 60px;
}
.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
.footer p.tag{
text-transform: none;
border-bottom: none;
font-size: 15px;
}
.footer p.tag span{
  font-weight: bold;
  color: var(--main-color);
}
